body {
  font-family: sans-serif;
  font-size: 18px;
  background-color: rgba(242, 242, 245, 0.808);
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

header {
  text-align: center;
}

.nav {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.about-me-text {
  width: 60%;
  margin: auto;
  text-align: center;
  border: solid 1px black;
  background-color: rgba(169, 224, 217, 0.226);
  padding: 0 10px;
}

.about-me h3 {
  background-color: rgb(169, 224, 217);
}

.knowledge {
  text-align: center;
}

.knowledge ul {
  display: inline-block;
  text-align: left;
  margin: auto;
}

.knowledge h3 {
  background-color: rgb(224, 195, 169);
}

.fortalezas {
  text-align: center;
}

.fortalezas h3 {
  background-color: rgba(228, 139, 139, 0.431);
}

.fortalezas ol {
  display: inline-block;
  text-align: left;
  margin: auto;
}

.project h3 {
  background-color: rgb(199, 241, 253);
}

.project table {
  margin: 0 auto;
  border: 4px solid rgba(0, 0, 3, 0.575);
  background-color: rgb(234, 243, 248);
}

.project th,
td {
  border: solid 1px black;
  padding: 6px;
  text-align: center;
}

.person h3 {
  background-color: rgba(164, 139, 228, 0.431);
}

.person-img {
  display: block;
  width: 300px;
  height: 200px;
  border-radius: 25px;
  margin: auto;
}

.person-name {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.person-text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#info {
  margin-top: 16px;
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: red;
  /* border: solid 1px black; */
}

#info span {
  font-weight: 700;
  font-style: italic;
}

.footer {
  margin-top: 16px;
  text-align: center;
}

.footer h3 {
  background-color: rgba(208, 211, 39, 0.431);
}

.footer img {
  width: 30px;
  height: 30px;
  margin: 0 6px;
}

.center-italic {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  border: solid 1px black;
}

/* FORMULARIO */

.form {
  margin: 24px auto;
  width: 600px;
  padding: 18px;
  border-radius: 10px;
  background-color: rgb(245, 225, 208);
}

label {
  font-weight: bold;
  color: rgb(141, 86, 38);
  font-size: 20px;
}

input,
select {
  margin: 10px 0;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 3px 3px;
  font-size: 14px;
}

select {
  width: 150px;
}

textarea {
  width: 70%;
  height: 90px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  margin: 10px auto;
  resize: none;
  display: block;
}

.correo {
  margin-left: 10px;
}

.radio input {
  margin: 16 0px;
  width: 50px;
}

.pass {
  margin-right: 35px;
}

.contratar input {
  margin: 20px 10px;
  width: auto;
}

.btn {
  width: 30%;
  height: 30px;
  background-color: rgb(246, 135, 38);
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.btn:hover {
  background-color: rgb(131, 82, 39);
}
